# Linear Regression

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('Student_Performance.csv')

In [6]:
df

      Hours    Scores  ECA  Sleep   Practiced  Grade
0          7       99  Yes       9          1     91
1          4       82   No       4          2     65
2          8       51  Yes       7          2     45
3          5       52  Yes       5          2     36
4          7       75   No       8          5     66
...      ...      ...  ...     ...        ...    ...
9995       1       49  Yes       4          2     23
9996       7       64  Yes       8          5     58
9997       6       83  Yes       8          5     74
9998       9       97  Yes       7          0     95
9999       7       74   No       8          1     64

[10000 rows x 6 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
le

LabelEncoder()

In [17]:
a = df

In [20]:
a.ECA = le.fit_transform(df.ECA)

In [21]:
a

      Hours    Scores  ECA  Sleep   Practiced  Grade
0          7       99    1       9          1     91
1          4       82    0       4          2     65
2          8       51    1       7          2     45
3          5       52    1       5          2     36
4          7       75    0       8          5     66
...      ...      ...  ...     ...        ...    ...
9995       1       49    1       4          2     23
9996       7       64    1       8          5     58
9997       6       83    1       8          5     74
9998       9       97    1       7          0     95
9999       7       74    0       8          1     64

[10000 rows x 6 columns]

In [28]:
from sklearn.model_selection import train_test_split

In [62]:
x = a.drop('Grade',axis= 1)

In [67]:
x

      Hours    Scores  ECA  Sleep   Practiced
0          7       99    1       9          1
1          4       82    0       4          2
2          8       51    1       7          2
3          5       52    1       5          2
4          7       75    0       8          5
...      ...      ...  ...     ...        ...
9995       1       49    1       4          2
9996       7       64    1       8          5
9997       6       83    1       8          5
9998       9       97    1       7          0
9999       7       74    0       8          1

[10000 rows x 5 columns]

In [63]:
y = a['Grade']

In [68]:
x_train , x_test , y_train , y_test = train_test_split(x , y, test_size=0.20)

In [69]:
x_train

      Hours    Scores  ECA  Sleep   Practiced
6975       1       41    0       7          3
6117       7       40    0       6          0
6602       3       52    0       7          4
293        8       93    0       4          5
2982       2       86    0       9          7
...      ...      ...  ...     ...        ...
9788       4       63    1       6          2
95         3       48    0       7          5
709        7       56    0       8          0
4265       6       94    0       4          9
1128       1       96    1       9          4

[8000 rows x 5 columns]

In [66]:
x_test

      Hours    Scores  ECA  Sleep   Practiced
3289       8       95    0       6          6
8308       1       91    0       6          2
6667       6       54    1       8          5
8689       3       94    0       9          4
1931       4       86    0       8          9
...      ...      ...  ...     ...        ...
2405       6       90    1       9          1
8150       1       69    0       8          9
6935       9       93    0       8          6
1765       2       80    1       4          3
3147       1       76    0       9          7

[2000 rows x 5 columns]

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
model = LinearRegression()

In [49]:
model

LinearRegression()

In [50]:
model.fit(x_train, y_train)

LinearRegression()

In [51]:
y_pred = model.predict(x_test)

In [52]:
y_pred

array([44.44553078, 55.13856195, 18.78144724, ..., 15.29816435,
       61.20976725, 34.6119466 ])

In [55]:
dfs = pd.DataFrame({'Original': y_test },{ "Predicted":y_pred})

In [57]:
dfs

           Original
Predicted       NaN

In [59]:
# Trainig Score
model.score(x_train,y_train)

0.9885483403725955

In [60]:
#Test Score 
model.score(x_test,y_test)

0.9895460274031682

In [75]:
import sklearn.metrics as metrics
metrics.mean_squared_error(y_test , y_pred)

723.9048505436137

In [76]:
metrics.mean_absolute_error(y_test,y_pred)

21.88901567700652

In [77]:
import numpy as np

In [79]:
print('root mean squared error : ')
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

root mean squared error :

26.905479935203047